^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]
  }
{:main scales2do.core
 :optimizations :advanced
 :output-dir "resources/public/js"
 :output-to  "resources/public/js/main.js"
 :target-dir "resources"
 }
