svg {
}

#scales {
  stroke: deepskyblue;
}

#scales text {
  fill: gray;
  stroke: gray;
}

#scales text.label {
  fill: gray;
  font-family: sans-serif;
  font-size: 72pt;
  font-weight: bold;
  opacity: 0.10;
  stroke: gray;
}

#scale-names {
  font-size: 15pt;
}

#scale-names .highlight {
  fill: red;
  font-size: 24pt;
  stroke: red;
}

.cell {
  fill: none;
  stroke: none;
}


.cell.highlight {
  fill: plum;
}

/* gradient */
#fade-stop-1 {
  stop-color: lightsteelblue;
}

#fade-stop-2 {
  stop-color: white;
}

#circle-outer {
  stroke-width: 3;
}

#circle-middle {
  fill: none;
  stroke-width: 2;
}

#circle-inner {
  cursor: pointer;
  fill: white;
  opacity: 0.5;
  stroke-width: 4;
  --circle-inner-fill-active: plum;
  --circle-inner-fill-hover: lightsteelblue;
}

#circle-inner:hover {
  fill: var(--circle-inner-fill-hover);
}

#circle-inner:active {
  fill: var(--circle-inner-fill-active);
}
